[Desktop Entry]
Categories=
Comment=Example Rust Tauri project with OmniPackage
Exec=omnipackage-example-tauri
Icon=omnipackage-example-tauri
Name=omnipackage-example-tauri
Terminal=false
Type=Application
